.slider {
  .sliderItem {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover {
      transform: translateY(-6px);
    }
  }

  &.servicesSlider {
    .slick-list {
      height: 350px;
    }

    .sliderItem {
      gap: 14px;
      padding: 20px;
      max-width: 350px;
      position: relative;
      top: 40px;

      .row {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 8px;
        gap: 12px;

        h3 {
          font-size: 21px;
        }

        svg {
          width: 28px;
          height: 28px;
        }
      }

      p {
        font-weight: 300;
      }
    }
  }

  &.teamSlider {
    .slick-list {
      height: 450px;

      .slick-track {
        height: 450px;
      }

      .sliderItem {
        top: 100px;
        position: relative;
        max-width: 400px;
        height: 300px;

        .content {
          position: absolute;
          top: 30%;
          left: 50%;
          transform: translateX(-50%);
          width: 50%;
          text-align: center;

          h3 {
            font-size: 28px;
            margin-bottom: 18px;
          }

          p {
            font-size: 18px;
          }
        }

        .imageContainer {
          width: 160px;
          height: 160px;
          position: absolute;
          border-radius: 50%;
          overflow: hidden;
          left: 50%;
          transform: translate(-50%, -50%);
          border: 6px solid $blue;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
