input,
textarea {
  border-radius: 6px;
  border: 1px solid $color-border;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  &:focus {
    border-color: $color-primary;
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.field {
  position: relative;
  label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    background: $color-white;
    font-size: 16px;
    color: $color-sub-text;
    font-weight: 300;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    padding: 0 4px;
  }
  input {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    &:focus + label,
    &:not([value='']) + label {
      top: -8px;
      transform: translateY(0);
      font-size: 12px;
    }
  }
}

.errorMessage {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  color: $color-error;
  margin: -10px 0 0 0;
}

.textareaField {
  display: flex;
  flex-direction: column-reverse;
  label {
    position: static;
  }
  textarea {
    width: 100%;
    resize: none;
    height: 150px;
    padding: 6px;
  }
}
