.formularsPage {
  .paperBody {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 18px;

    @media (max-width: 1440px) {
      grid-template-columns: repeat(4, 1fr);
    }

    .formular {
      padding: 21px;
      cursor: pointer;
    }
  }
}
