.servicesPage {
  .paperBody {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;

    @media (max-width: 1440px) {
      grid-template-columns: repeat(3, 1fr);
    }
    .service {
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      position: relative;
      cursor: pointer;
    }
  }
}
