$color-white: #fff;
$color-black: #000;
$color-text: #333;
$color-sub-text: #75737a;
$color-bg: #f8f7fa;
$color-border: #4b465c1f;

$color-bg-darker: rgb(12, 5, 5);

$color-primary: #3540de;
$color-primary-active: #1c29de;

$color-secondary: #a8aaae;
$color-secondary-active: #919395;

$color-success: #43c770;
$color-success-active: #2fc461;

$color-info: #42cfe8;
$color-info-active: #2fcbe7;

$color-warning: #f99f44;
$color-warning-active: #f8922b;

$color-error: #ea5555;
$color-error-active: #e74040;
