* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  outline: none !important;
}

body {
  overflow: hidden;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-text;
}

p,
a,
b {
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: none;
  font-weight: 400;
  font-style: normal;
  color: $color-text;
}

b {
  font-weight: 600;
}

input,
textarea,
button {
  font-family: 'Lexend', sans-serif;
}

.withoutScrollbar {
  &::-webkit-scrollbar {
    width: 0;
  }
}

.customScrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 16px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 16px;
  }
}

.pageWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 265px 1fr;
  transition: all 0.2s ease-in-out;
  &.active {
    grid-template-columns: 60px 1fr;
    .appSidebar {
      padding: 16px 4px;
      .legend {
        justify-content: center;
        .logo {
          display: none;
        }
        .circle {
          &::after {
            opacity: 0;
          }
        }
      }
      nav {
        .group {
          margin-bottom: 0;
          p {
            display: none;
          }
          a {
            display: flex;
            justify-content: center;
            font-size: 0;
            grid-gap: 0;
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
  .appHolder {
    height: 100vh;
    padding: 8px 4px 8px 8px;
    background: $color-bg;
    .pageHolder {
      height: 100%;
      overflow-y: auto;
      padding-right: 20px;
      padding: 16px;
      max-width: initial;
    }
  }
}

.flexAlign {
  display: flex;
  align-items: center;
}

.gg8 {
  grid-gap: 8px;
}

.pointer {
  cursor: pointer;
}

.rdrDateRangePickerWrapper {
  input {
    padding: 0;
  }
}

.grid_x3 {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
  button {
    width: 100% !important;
  }
}

.mb16 {
  margin-bottom: 16px;
}

.closeBtn {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background: rgb(255, 98, 98);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: translate(-3px, 3px);
  }
  svg {
    width: 24px;
    height: 24px;
    path {
      fill: white;
    }
  }
}
